@model Mutualex.Blog


@{
    ViewBag.Title = "Blog List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    TempData["Setting"] = "class=" + "active";
    TempData["BlogList"] = "class=" + "active";
   
    TempData["PageTitle"] = "Blog List";
}

@if (TempData["MSG"] != null)
{
    <div class="alert alert-info alert-dismissable">
        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
        <strong>@TempData["MSG"]</strong>
    </div>
}

<div class="page-content">
    <div class="row">
       

        <div class="col-lg-12">
            <div class="portlet box panel panel-grey">
                <div class="panel-heading">
                    Blog List
                </div>
                <div class="portlet-body">
                    <div class="row mbm">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table id="table_id" class="table table-hover table-striped table-bordered tablesorter">
                                    <thead>
                                        <tr>

                                            @*<th><span data-toggle="tooltip" data-placement="right" data-original-title="Review Title">Action</span></th>*@
                                            <th><span data-toggle="tooltip" data-placement="right" data-original-title="Review Title">Title</span></th>
                                            @*<th><span data-toggle="tooltip" data-placement="right" data-original-title="Review Title" >Description</span></th>*@
                                            <th><span data-toggle="tooltip" data-placement="right" data-original-title="Description">Posted by</span></th>
                                             <th><span data-toggle="tooltip" data-placement="right" data-original-title="On Date">On Date</span></th>
                                            
                                            <th><span data-toggle="tooltip" data-placement="right" data-original-title="Status">View</span></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Mutualex.Blog item in ViewBag.CountryList)
                                        {
                                            <tr>
                                              
                                                <td>@item.Title</td>
                                                @*<td style="width:50%">@i.BlogDesc</td>*@
                                                <td>@item.PostedBy</td>
                                                <td>@Convert.ToDateTime(item.OnDate).ToString("dd/MM/yyyy")</td>
                                                
                                                @*<td>
                                                    @if (item.Status == "VERIFIED")
                                                    {
                                                        <a href="javascript:void(0);"  class="btn btn-success btn-xs" >
                                                            <span data-toggle="tooltip"> @item.Status</span>
                                                        </a>
                                                    }
                                                    else if (item.Status == "UNVERIFIED")
                                                    {
                                                        <a href="javascript:void(0);"  class="btn btn-danger btn-xs" >
                                                            <span data-toggle="tooltip"> @item.Status</span>
                                                        </a>
                                                    }
                                                </td>*@
                                                <td><a href="/Blog/Details/@item.Id" class="btn btn-success btn-xs">View</a>
                                                    <a href="/Blog/PostBlog/@item.Id" class="btn btn-success btn-xs">Edit</a>
                                                    <a href="/Blog/DelBlog/@item.Id" class="btn btn-success btn-xs">Delete</a></td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-stackable" tabindex="-1" role="dialog" aria-labelledby="modal-stackable-label" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="modal-stackable-label" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="form" id="DetailsHM">

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function ChangeReviewStatus(_pid) {
            var url = "/Product/OpenChangeReviewStatusPopUp/" + _pid;
            $.get(url, { ID: _pid }, function (data) {
                $('#DetailsHM1').html(data);
            });
        }
    </script>



    <script src="/admin_assets/vendors/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="/admin_assets/vendors/DataTables/media/js/dataTables.bootstrap.js"></script>
    <script src="/admin_assets/vendors/DataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
    <script src="/admin_assets/js/table-datatables.js"></script>

    <script src="/admin_assets/js/form-components.js"></script>
    <script type="text/javascript">
        // When the document is ready
        $(document).ready(function () {

            $('.input-daterange').datepicker({
                todayBtn: "linked"
            });

        });
        //$("#yearpicker").datepicker({
        //    format: "yyyy",
        //    viewMode: "years",
        //    minViewMode: "years"
        //});

    </script>
}

