@model Mutualex.Whatwedo_Master
@{
    //MutualexEntities1 db = new MutualexEntities1();
    RNMediaEntities db = new RNMediaEntities();
    ViewBag.Title = "What We Do";
    ViewBag.HeaderImage = "/images/bg/bg12.jpg";

    Layout = "~/Views/Shared/_Layout.cshtml";

    TempData["Whatwedo"] = "active";
}

<!-- Section: About Us -->
<section id="about">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-3 page_Background">



                    <!--menu bar-->
                    <ul>
                        @foreach (Mutualex.Whatwedo_Master i in ViewBag.PageList)
                        {
                            <li class="@TempData["Page"] about-list">
                                <a href="/Whatwedo/Index/@i.PageName" class="page-name-color">@i.PageName</a>
                            </li>
                        }
                    </ul>
                    <!--Donation button-->



                </div>
                <div class="col-md-9">
                    <div class="icon-box p-0 mb-sm-40 border-3px border-theme-colored p-about">

                        <div>
                            @*<h4 class="icon-box-title mt-15 mb-10 text-uppercase letter-space-2">
                                <strong>
                                    <u>
                                        @if (TempData["PageName"] != null)
                                        {

                                            @Html.Raw(HttpUtility.HtmlDecode(TempData["PageName"].ToString()))
                                        }
                                    </u>
                                </strong>
                            </h4>*@
                            <p class="nnn">
                                @if (TempData["Content"] != null)
                                {

                                    @Html.Raw(HttpUtility.HtmlDecode(TempData["Content"].ToString()))
                                }
                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
@*<section class="divider parallax layer-overlay overlay-deep" data-bg-img="/images/bg/bg2.jpg" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row text-justify">
                <div class="col-md-6">
                    <h4>Who we are</h4>
                    <p class="bvv">@ViewBag.Whoweare</p>
                </div>
                <div class="col-md-6">
                    <h4>What we do</h4>
                    <p class="bvv">@ViewBag.Whatwedo</p>
                </div>
            </div>
        </div>
    </section>*@
<!-- Section: Our Mission & Upcoming Events -->
@*<section>
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="mt-0 line-bottom"><span class="font-weight-300">Our </span> Mission</h3>
                    @*<h4><em class="lead|"> Lorem ipsum dolor sit amet, <span class="text-theme-colored">consectetur adipisicing</span> elit. Explicabo officia inventore <span class="text-theme-colored">Charitypress</span> quam voluptatum dolores eius unde natus.</em></h4>*@
@*<p class="lead">@Html.Raw(HttpUtility.HtmlDecode(ViewBag.Ourmission))</p>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!-- Section: Divider call -->
<!-- Section: -->
